body {
    background-color: #d9d9d9;
  }
  
  .registration-container,
  .login-container {
    position: relative;
    overflow: hidden;
  }
  
  .transition-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .transition-gif img {
    width: 300px;
    height: auto;
  }
  